<!DOCTYPE html>
<html>
  <head>
    <title>Jimokara~地元のカラオケ仲間で集まろう~</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <h1 class="header-title">Jimo-Kara</h1>
      <ul class="header-lists">
        <%# ユーザーがログインしている場合 %>
        <%# <li>Mypage</li>
        <li>Home</li>
        <li>Logout</li> %>
        <%# ユーザーがログインしていない場合 %>
        <li class="header-list">Sign up</li>
        <li class="header-list">Sign in</li>
      </ul>
    </div>
      <%= yield %>
    <div class="footer">
      <p class="footer-title">This website(Jimo-Kara) is sample site.<br>If you have created other applications, please go to this link
      <%= link_to "My Portfolio Site", "#", class:'footer-link'%>
      </p>
    </div>
  </body>
</html>
